@charset "UTF-8";

body { 
	font-family: 'NanumSquare', sans-serif; 
}
button {
	outline: none;
}
input[type=text] {
	outline: none;
}

a:link, a:hover {
	text-decoration: none;
}
.popWrap {
	padding: 20px 50px;
	box-sizing: border-box;
}

#confirmBtns {
	margin-top: 20px;
	margin-right: 60px;
	float: right;
}
.confirmBtn {
	width: 80px;
	height: 30px;
	background-color: #eee;
	border-radius: 25px;
    border: 1px solid #ddd;
}
.confirmBtn:hover {
    background-color: #565e61;
    color: #fff;
}

#timeList {
	width: 88%;
	height: auto;
	margin: 0 auto;
}

.timeBnt {
	width: 100px;
	height: 50px;
	margin: 5px 5px;
	border: 1px solid #fff;
	outline: none;
	cursor: pointer;
	
	background-color: #565e61;
    color: #fff;
}
.closeTime {
    opacity: 0.2;
    cursor: not-allowed;
}

#doctorTab {
	height: 35px;
	margin-left: 30px;
}
.doctorBnt {
	width: 80px;
    height: 35px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #233265;
    opacity: 0.6;
}
.activeDoc {
	background-color: #233265;
    opacity: 1.0;
}
