@charset "UTF-8";



#boardMain{
	height: 100%;
}
#photo{
	z-index: 1;
    width: 1100px;
    height: 300px;
    margin: auto;
    border: 1px solid #ccc;
    position: relative;
}	
#main{
	position: relative;
    z-index: 2;
    outline: 1px solid #ccc;
    width: 800px;
    margin: 0 auto;
    margin-top: -150px;
}

#head_box{
/* 	border: 1px solid red; */
	width: 800px;
	height:330px;
	background: white;

}
#head_top_hr{
    margin-top:0px;
	height: 4px;
    background: #529dbc;
    border-top-width: 0px;
}	

#head_name_area{
	margin : 0 auto;
	line-height:40px;
	width: 800px;
    margin-top: 60px;
/* 	border: 1px solid; */
}
#head_name {
	line-height:80px;
	margin : 0 auto;
	width: 220px;
	height: 70px;
/* 	border: 1px solid; */
}

#head_tap_hr{
	background:#fafafa;
	width: 700px;
	margin: auto;
}

.name{
    font-weight: bold;
	font-size:30px;
}

#head_btn_area{
	text-align: center;
 	height:120px; 
    position: relative; 
/* 	border: 1px solid; */
}

#head_btns a{
	float:left;
    padding: 15px 30px 0px 20px;
}

#head_btns {
	width:350px;
	height:110px;
	margin : 0 auto;
/* 	border:1px solid blue; */
}
#head_btn_tap{
	height:45px;
}
#head_taps{
	width:320px;
	height:35px;
	margin : 10px 20px 10px 120px ;
	font-weight: bold;
	line-height: 33px;
}
#head_taps span{
	padding: 0px 20px 0px 0px;
}
#content_box{
 	width: 800px;
	height: 550px;
/*   	border:1px solid blue;  */
}
#content_area{
 	width:100%;
	height: auto;
	margin: 15px 30px 0px 135px;
}
#content_area_photo{
 	width:400px;
	height: auto;
	margin: 16px 30px 0px 100px;
}
#content_area span{
	padding: 0px 25px;
}
#content_area div{
	margin-bottom: 20px;
	font-weight: bold;
	height: auto;
}
#content_photo{
	width: 600px;
    height: 400px;
    border: 1px solid #ccc;
    margin-left: 20px;
}
#review_hr{
	background: #ccc;
    width: 635px;
    margin: auto;
    height: 1px;
}
#in_out_photo{
	height: 60px;
	font-weight: bold;
}

