@charset "UTF-8";



#boardMain{
	height: 100%;
}
#photo{
	z-index: 1;
    width: 1100px;
    height: 300px;
    margin: auto;
    border: 1px solid #ccc;
    position: relative;
}	
#main{
	position: relative;
    z-index: 2;
    outline: 1px solid #ccc;
    width: 800px;
    margin: 0 auto;
    margin-top: -150px;
    height: auto;
}

#head_box{
/* 	border: 1px solid red; */
	width: 800px;
	height:330px;
	background: white;

}
#head_top_hr{
    margin-top:0px;
	height: 4px;
    background: #529dbc;
    border-top-width: 0px;
}	

#head_name_area{
	margin : 0 auto;
	line-height:40px;
	width: 800px;
    margin-top: 60px;
/* 	border: 1px solid; */
}
#head_name {
	line-height:80px;
	margin : 0 auto;
	width: 220px;
	height: 70px;
/* 	border: 1px solid; */
}

#head_tap_hr{
	background:#fafafa;
	width: 700px;
	margin: auto;
}
#review_hr{
	background:#fafafa;
	width: 635px;;
	margin: auto;
}

.name{
    font-weight: bold;
	font-size:30px;
}

#head_btn_area{
	text-align: center;
 	height:120px; 
    position: relative; 
/* 	border: 1px solid; */
}

#head_btns a{
	float:left;
    padding: 15px 30px 0px 20px;
}

#head_btns {
	width:350px;
	height:110px;
	margin : 0 auto;
}
#head_btn_tap{
	height:45px;
}
#head_taps{
	width:320px;
	height:35px;
	margin : 10px 20px 10px 120px ;
	font-weight: bold;
	line-height: 33px;
}
#head_taps span{
	padding: 0px 20px 0px 0px;
}
#content_box{
 	width: auto;
	height: 100%;
}
#content_start_box{
 	width: auto;
	height: auto;
}
#content_area{
 	width:88%;
	height: auto;
	margin:15px 0px 0px 48px;
}
#content_area_photo{
 	width:400px;
	height: auto;
	margin: 30px 30px 0px 135px;
}
#review{
	padding: 0px 45px;
}
#name{
	padding: 0px 0px 0px 9px;
    border: 0px;
    width: 60px;
    float: right;
}
#content_area div{
	margin-bottom: 20px;
	height: auto;
}

#review_row{
	    font-weight: bold;
    width: 641px;
    margin-left: 32px;
}

.button{
    margin-bottom: 10px;
}


#review1{
	padding-left: 379px;
}
#search_area{
	line-height: 2;
}
#title{
	width: 625px;
    height: 45px;
    display: inline-flex;
    margin-left: 40px;
}
#msg{
	width: 625px;
    height: auto;
    display: inline-flex;
    margin: -6px 0px 0px 41px;
}


#filearea{
	margin-left: 40px;
}
#file_span{
	display: inline-flex;
}
#file{
	background:#fafafa;
    width: 625px;
}
#btn_adm{
    width: 635px;
    padding-left: 260px;
    margin-top: 8px;
    margin-left: 35px;
}



