@charset "UTF-8";

a:link, a:hover {
	text-decoration: none;
}
.viewWrap {
	width: 1100px;
	padding: 35px 80px;
	box-sizing: border-box;
	margin: 0 auto;
}
#lineCanvas {
width: 55%;
float: left;
}
#weekStat {
margin-top: 12px;
}
#barCanvas {
float: left;
width: 45%;

}
#sexPieCanvas {
width: 50%;
float: left;

}
#agePieCanvas {
width: 50%;
}
#monthStat {
	margin-top: 270px;
}
#sexCanvasTitle {
	margin-left:200px;
}
#ageCanvasTitle {
	margin-left:425px;
}
h2 {
	color: #529dbc;
}
h3 {
	color: #3d829e;
}
#mask {  
  position:absolute;  
  left:0;
  top:0;
  z-index:9000;  
  background-color:#fff;  
  display:none;  
}
#maskImg {
	margin: 350px 0px 0px 850px;