@charset "UTF-8";

@import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);

body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select {
    margin: 0;
    padding: 0;
    line-height: 1.5; 
    font-family: "NanumSquare";
}
body, input, textarea, select, button, table {
    font-size: 12px;
}
a {
    text-decoration: none;
    color: black;
}
ul , ol {
    list-style-type: none;
}
header {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    box-sizing: border-box;
    padding: 20px 30px;
    width: 200px;
    height: auto;
    background: #fff;
}
#mainMenu {
    margin-top: 10px;
    margin-bottom: 17px;
    padding-bottom: 17px;
    width: 140px;
    min-height: 140px;
    font-size: 16px;
    font-weight: bold;
}
#mainMenu li {
    margin-top: 11px;
    width: 140px;
}
#logo {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 180px;
    height: 50px;
}
header p {
    margin-top: 80px;
    padding-bottom: 17px;
    width: 140px;
    font-size: 12px;
}
#logo a img {
    width: 140px;
    vertical-align: middle;
}
#bottomArea {
    position: absolute;
    bottom: 0px;
    left: 0px;
    box-sizing: border-box;
    padding: inherit;
    padding-bottom: 35px;
    width: 200px;
}
.etcInfo {
    position: relative;
    margin-bottom: 12px;
    padding-bottom: 15px;
}
.etcInfo::after {
    content: "";
    position: absolute;
    bottom: 0px;
    display: block;
    width: 30px;
    border-bottom: 1px solid #dedede;
}
header address {
    position: relative;
    margin-bottom: 27px;
    color: #757575;
    font-size: 11px;
    letter-spacing: -1px;
    font-style: normal;
}
header address::after {
    content: "";
    position: absolute;
    bottom: -15px;
    display: block;
    width: 30px;
    border-bottom: 1px solid #dedede;
}
.content {
    height: auto;
    margin-left: 200px;
    box-sizing: border-box;
}